@media(max-width: 920px) {
    div.main-container div.context-info {
        display: none;
    }
    div.main-container .threads-container {
        display: none;
        width: 95%!important;
        height: 90%!important;
        margin: auto;
        position: absolute!important;
        top: 5%;
        left: 2.5%;
        z-index: -999;
        transition: 1s ease;
        opacity: 0;
    }
    div.main-container .threads-container .closeMobile {
        width: 100%;
        text-align: center;
        background-color: crimson;
        padding: 10px 0;
        display: block;
        cursor: pointer;
    }
    div.main-container div.inbox-sidebar {
        width: 95%;
        height: 95%;
        margin: auto;
        float: none;
    }
    div.main-container div.inbox-sidebar div.filter-container .filter-options {
        display: flex;
        justify-content: center;
        margin: auto;
    }
    .threads {
        height: 70%!important;
    }
}
.messagesActive {
    opacity: 1!important;
    z-index: 999!important;
    display: block!important;
    transition: 1s ease;
}
.closeMobile {
    display: none;
}